@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #181818;
}

body {
  min-height: 100vh;
  background: rgb(195, 212, 242);
  background: radial-gradient(
    circle,
    rgba(195, 212, 242, 1) 3%,
    rgba(14, 47, 88, 1) 100%
  );
}

.completed {
  text-decoration: line-through;
}

ion-icon {
  color: #181818;
}

ion-icon:hover {
  cursor: pointer;
}

ion-icon:active {
  transform: translateY(4px);
}

footer {
  z-index: -2 !important;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 90%;
  }
}
